<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>mysqlTest</title>
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
	<div>
		<label>表名：</label>
		<input type="text" name="tabs" id="tabs">
		<label>查询条件：</label>
		<input type="text" name="condition" id="condition">
		<input type="button" value="提交" onclick="TestOneMysql()">
	</div>
	<div id ="myDiv"></div>
</body>
</html>