<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
	<div>
		<label>姓名：</label>
		<input type="text" name="name" id="name">
		<label>id：</label>
		<input type="text" name="idCard" id="idCard">
		<input type="button" value="提交" onclick="TestPostAjax()">
	</div>
	<div id ="myDiv"></div>
</body>
</html>